/* Remove the navbar's default margin-bottom and rounded borders */
#main-title {
	font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;
	color: #000;
	/* text-shadow: 4px 4px 3px rgba(0,0,0,0.1); */
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

.navbar-brand {
	padding: 0px 15px;
}

.jumbotron {
	background-image: url("../img/columbusJumbotron.jpg");
	background-position-y: 20%;
	width: 100%;
	background-size: cover;
	color: black;
	background-color: black;
	margin-bottom: 0px;
	background-size: cover
}

.jumbotron span {
	text-shadow: 0px 0px 25px #FFF;
}

.jumbotron p {
	color: white;
}
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
	height: 450px
}

/* Set gray background color and 100% height */
.sidenav {
	padding-top: 20px;
	background-color: #f1f1f1;
	height: 100%;
}
/* sidenav on home page */
div#homePageSiteDescription {
	max-width: 177px;
}

div#homePageSiteDescription span {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	max-width: 100%;
}

/* Set black background color, white text and some padding */
footer {
	background-color: #555;
	color: white;
	padding: 15px;
}

#map {
	position: relative;
	overflow: hidden;
	height: 600px;
}

#user_map {
	position: relative;
	overflow: hidden;
	height: 400px;
}

#left-menu {
	text-align: left;
}

bodyContent {
	width: 200px;
}

hr {
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	border-style: inset;
	border-width: 1px;
	width: 90%;
}

/* about page*/
.about-pics {
	width: 900px;
	height: 250px;
	margin:auto;
	
}

.photo-image {
	float: left;
	padding-left: 20px;
	display: inline-block;
}

.team-members {
	padding-top: 20px;
	text-align: center;
	padding-bottom: 30px;
}

.teamwork {
	padding-top: 30px;
	text-align: center;
}

/********login************/
/* #login main-div{
	height:100%;
} */
#login-picture-div {
	background-image: url("../img/grayColumbus.jpg");
	background-size: cover;
	color: black;
	background-color: black;
	margin-bottom: 0px;
	height: 100%;
	text-shadow: 0px 0px 12px #FFF;
}

/******* landmarkDetail *****/
.rating {
	width: 60px;
}

.landmark-detail {
	width: 100%;
}

#pic {
	width: 100%;
	height: auto;
}

/********  Admin ******/
/* manage users  */
table#userListTable {
	width: 90%;
	margin: auto;
}

div#manageUsersH2 {
	padding-left: 20%;
}

/*  manage reviews  */
table#reviewTable {
	width: 100%;
	margin: auto;
}

#reviewTable th {
	padding: 10px;
	text-align: center;
}

#reviewTable td {
	padding: 10px;
	text-align: center;
}

.admin-title{
	text-align:left;
}

.background-color{
	background-color: #f1f1f1;
}

/******sign-up page******/
#signup-main {
	background-image: url("../img/grayColumbus.jpg");
	background-size: cover;
	color: black;
	background-color: black;
	margin-bottom: 0px;
	height: 100%;
	text-shadow: 0px 0px 12px #FFF;
}

.form-fields{
	width:40%;
}

/*******profile page********/

#profile-pic-div {
	background-image: url("../img/grayColumbus.jpg");
	background-size: cover;
	color: black;
	background-color: black;
	margin-bottom: 0px;
	height: 100%;
	text-shadow: 0px 0px 12px #FFF;
}

/********home*************/
 #homePageSiteDescription{
  	 margin:auto;
 }
 
 
/* .show {display:block;} */

/* On small screens, set height to 'auto' for sidenav and grid */

@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {
		height: auto;
	}
	.form-control {
		width: 200px;
	}
}